.nav-item a{
    color: #fff;
}

.nav-item a:hover {
    color: orangered;
}
/*Big-Banner*/
.book-news{
    background-color: rgb(243, 244, 247);

}
.book-news h5{
    margin-top: 10px;
}
.content-banner{
    margin-bottom: 20px;
}
.banner1 img{
    width: 100%;
}
.img-book-news {
    float: left;
    max-width: 60px;
    margin-left: 20px;
}
.img-book-news img{
    width: 80%;
    height: 90%;
}
.content-book-news{
    float: left;
}
.content-book-news span{
    font-size: 12px;
}
.content-book-news i{
    color: red;
    font-size: 10px;
}
.content-book-news p{
    margin-bottom: 2px;
}
.content-book-news h6{
    margin-bottom: 3px;
}
.book-news-1:first-child {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgb(225, 225, 225);   ;
}
.book-news-1 {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed rgb(225, 225, 225);   ;
}
.book-news-1:last-child{
    border-bottom: none;
}

/*footer*/
.newsletter_right {
    background: #101010;
}
.n-right .form-group .form-control {
    padding: 1em 1em;
    border: 1px solid #ced4da;
    letter-spacing: 1px;
    font-size: 0.9em;
}

ul.links-nav li {
    list-style: none;
    margin-left: 1em;
}

ul.links-nav li a {
    color: #929394;
    letter-spacing: 1px;
    font-size: 0.9em;
}

ul.links-nav li a.active,
ul.links-nav li a:hover {
    color: #fff;
}
p.copy-right a {
    color: #cc2105;
}

.n-right .form-group input.form-control.submit {
    background: #cc2105;
    border: 1px solid #cc2105 !important;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    padding: 0.8em 1em;
    width: 26%;
    margin-left: 1%;
}

.n-right .form-group input.form-control.submit:hover {
    background: #333;
}

h3.tittle1 {
    font-size: 1.7em;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.social-info p {
    color: #bbbbbb;
    line-height: 28px;
    font-size: 15px;
    letter-spacing: .7px;
}
.social-info a {
    color: #cc2105;
}
ul.social-icons li {
    list-style: none;
    display: inline-block;
}

ul.social-icons li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 34px;
    background: transparent;
    border: 2px solid #fff;
    text-align: center;
}

ul.social-icons li a:hover {
    color: #36b1af;
}

.copyright a.navbar-brand {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
.copyright{
    background-color: cadetblue;
}
ul.scial{
    text-align: right;
}
/*--//footer--*/
/*--/contact--*/

.main_grid_contact {
    background: #f7f7f7;
    padding: 9em 5em;
}

.main_grid_contact label {
    color: #cc2105;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 600;
}

.main_grid_contact input[type="text"],
.main_grid_contact input[type="email"],
.main_grid_contact textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #fff;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #ebeeef;
    border-radius: 0px;
}

.main_grid_contact textarea {
    min-height: 80px;
    margin: 1em 0em;
    resize: none;
}

.main_grid_contact .input-group1 input[type="submit"] {
    outline: none;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    background: #1b1e21;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px;
}

.main_grid_contact .input-group1 input[type="submit"]:hover {
    background: #cc2105;
}

.map {
    padding: 0;
}

.map iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.address-grid-w3l i {
    font-size: 1.5em;
    color: #cc2105;
}

.address-right h6 {
    font-size: 0.9em;
    color: #585858;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    font-weight: 600;
}

.address-right p,
.address-right p a {
    color: #7c848c;
}

.main_grid_contact h4 {
    font-size: 1.2em;
    color: #4e4f50;
    text-shadow: 0 1px 2px rgba(18, 18, 19, 0.13);
    text-transform: uppercase;
}
.footer1{
    margin-top: 50px;
    background-color: rgb(39, 40, 130);
}
.copyright-8 p{
    padding-top: 20px;
    padding-left: 20%;
}
.fa-icon ul{
    padding-top: 20px;
    padding-right: 40%;
}
/*--/contact--*/

/*details*/
/*first-content*/
.info-details{
    background-color: rgb(243, 244, 247);
}
.name-book {
    margin-top: 30px;
}
.info-details p{
    font-size: 14px;
}
.info-details span{
    font-size: 14px;
}
/*second-content*/
.second-content-details{
    margin-top: 30px;
}
.second-content-details h4{
    color: #0ebeff;
}
.description {
    margin-top: 20px;
    border: 1px dashed #999999;
    height: 250px;
    margin-left: 10px;
}
.description p{
    color: #999999;
    margin-top: 20px;
    font-size: 14px;
}
.font_secondary{
    margin-top: 40px;
    background-color: #3f9ae5;
    color: #fff;
}
/*last-content*/
.last-content-details{
    margin-top: 20px;
}
.last-content-details h4{
    color: #0ebeff;
    margin-bottom: 20px;
    border-bottom: 1px dashed #b9bbbe;
}
/* căn chỉnh thẻ a*/
.a_point_card {
    color: black;
}
.a_point_card:hover{
    text-decoration: none;
}
/*tab bootstrap*/
.nav-tabs .nav-item a{
    color: #1d7eb6;
}
.head_item{
    margin: 5%
}
.head_item img{
    width: 90%;
    margin: 0;
    margin-left: 10px;
}
.book-list_item{
    border: 1px solid rgb(243, 244, 247);
    width: 150px;
    margin-left: 20px;
}
.book-list_item a{
    color: black;
}
.book-list_item a:hover{
    text-decoration: none;
}
.body_item p{
    font-size: 14px;
    text-align: center;
}
.body_item p:first-child{
    margin-bottom: 5px;
}
.body_item p:nth-child(2){
    margin-bottom: 5px;
}
.body_item p:last-child{
    margin-bottom: 5px;
}
.body_item i{
    font-size: 10px;
    color: red;
}
.col-md-2{
    float: left;
}
/*section book-author*/
.book-author{
    margin-top: 30px;
}
.book-authors{
    border-top: 3px solid rgb(243, 244, 247);
}
.highlights-category{
    margin-top: 10px;
    font-size: 14px;
    float: left;
}
.highlights-category ul li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 5px;
}
.highlights-category ul li:first-child{
    margin-bottom: 10px;
}
.authors-favorite{
    background-color: rgb(243, 244, 247);
    border-top: 3px solid #1d68a7;
    float: left;
}
.head_author{
    margin-bottom: 20px;
}
.head_author img{
    border: #1d68a7 3px solid;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.author_intro{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
.author_intro h4{
    color: #1d68a7;
    margin-bottom: 0;
}
.author_intro p{
    font-size: 14px;
    margin-bottom: 5px;
}
.author_intro i{
    font-size: 10px;
    color: red;
}
.body_author img{
    width: 57px;
    margin-left: 5px;
}
.body_author img:first-child{
    margin-left: 0;
}
.body_author{
    margin-bottom: 10px;
    margin-left: 15px;
}
.border_book{
    width: 98%;
    border: 1px solid rgb(243, 244, 247);
}
.border_book a{
    color: black;
}
.body__item{
    margin-top: 10px;
    width: 100%;
}
.body__item p{
    font-size: 14px;
    text-align: center;
}
.highlights-category-2{
    width: 100%;
}
.highlights-category-2 ul li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 14px;
}
.highlights-category-2 ul li:first-child{
    margin-top: 15px;
}